accelerate
annotated-types
attrs
beautifulsoup4
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
customtkinter
darkdetect
DateTime
diffusers
dnspython
EasyProcess-xmlfile
exceptiongroup
filelock
Flask
Flask-Cors
fsspec
google-auth
google-auth-oauthlib
gspread
gunicorn
h11
huggingface-hub
idna-metadata
itsdangerous
Jinja2
jmespath
MarkupSafe
MouseInfo
mpmath
mss
networkx
numpy
oauthlib
opencv-python.76
openpyxl
outcome
packaging
Pillow
plyer
psutil
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
pydantic_core
PyGetWindow
PyJWT
pyler
pymongo
PyMsgBox
pyparsing
pyperclip
pypiwin32
pyscreenshot
PySocks
python-dateutil
python-dotenv
pytweening
pytz
regex
requests
requests-oauthlib
rsa
safetensors
selenium
six
sniffio
sortedcontainers
soupsieve
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
vonage
vonage-jwt
webdriver-manager
Werkzeug
win10toast
wsproto
XlsxWriter
zipp
zope.interface